body {
    display: flex;
    background-color: #111;
    color: #eee;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

main {
    width: 50%;
    border: 1px solid #3f444c;
    padding: 2rem;
    border-radius: 8px;
}

h1 {
    text-align: center;
}

a {
    color: #a7c3fa;
}

a:visited {
    color: #bb91f2;
}

a:hover {
    text-decoration: underline;
}